.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	margin: 50px auto;
	margin-top: 3%;
}

.resetGame {
	background: #fe1984;
	padding: 15px 30px;
	border-radius: 15px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
	font-family: 'Comic Relief', system-ui;
	white-space: nowrap;
	outline: none;
	border: none;
}

.resetGame:focus {
	outline: 3px solid #ffffff;
	outline-offset: -1px;
}
